/* CONTENT */
.content-wrapper {
    flex: 1;
}

.description {
    color: var(--black);
    line-height: 1.6;
    margin-bottom: 25px;
}

/* FEATURES */
.features {
    display: flex;
    gap: 40px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
    /* color: red; */
    position: relative;
    padding-left: 18px;
}

.features li::before {
    content: "🟈";
    position: absolute;
    left: 0;
    color: var(--gold);
    font-size: 16px;
    top: -2px;
}