/* HOMEABOUT ---START-- */
.content-wrapper {
    flex: 1;
}

.description {
    color: var(--black);
    line-height: 1.6;
    margin-bottom: 25px;
}

.features {
    display: flex;
    gap: 40px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;
}

.features li::before {
    content: "🟈";
    position: absolute;
    left: 0;
    color: var(--gold);
    font-size: 16px;
    top: -2px;
}

/* HOMEABOUT ---END-- */

/* HOMESTRENGTH ---START-- */
.strength-item {
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.strength-item i {
    font-size: 40px;
    color: var(--black);
    transition: 0.3s;
}

.strength-item p {
    margin-top: 10px;
    font-weight: 500;
    color: #333;
}

/* hover effect */
.strength-item:hover i {
    transform: scale(1.2);
    color: var(--gold);
}

.strength-item:hover p {
    color: var(--gold);
}

/* HOMESTRENGTH ---END-- */

/* HOMEWESERVE ---START--- */


.desc {
    margin-bottom: 15px;
    line-height: 1.6;
}

.industries-section {
    background: var(--black);
    padding: 100px 20px;
    color: white;
}

.orbit-container {
    position: relative;
    height: 420px;
    margin: auto;
    border-radius: 50%;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    /* background: linear-gradient(145deg, #d4af37, #f5d77a); */
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: 0 0 25px rgba(212, 175, 55, 0.6); */
}

.orbit-item {
    position: absolute;
    text-align: center;
    transition: 0.4s;
    /* background: var(--white); */
}

.orbit-item img {
    width: 70px;
    transition: 0.4s;
}

.orbit-item span {
    display: block;
    font-size: 14px;
    opacity: 1;
    transform: translateY(10px);
    transition: 0.3s;
    background: #000;
}

.item0 {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.item1 {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.item2 {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.item3 {
    left: 44px;
    top: 50%;
    transform: translateY(-50%);
}

.item4 {
    top: 50px;
    right: 40px;
}


@media screen and (max-width:576px) {

    .item0 {
        top: 2px;
        left: 26%;
        transform: translateX(-50%);
    }

    .item1 {
        right: -20px;
        top: 54%;
        transform: translateY(-50%);
    }

    .item2 {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .item3 {
        left: -20px;
        top: 44%;
        transform: translateY(-50%);
    }

    .item4 {
        top: 70px;
        right: 0px;
    }
}





/* HOMEWESERVE ---END--- */