/* HOMEABOUT ---START-- */
.content-wrapper {
    flex: 1;
}

.description {
    color: var(--black);
    line-height: 1.6;
    margin-bottom: 25px;
}

.features {
    display: flex;
    gap: 40px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;
}

.features li::before {
    content: "🟈";
    position: absolute;
    left: 0;
    color: var(--gold);
    font-size: 16px;
    top: -2px;
}

/* HOMEABOUT ---END-- */

/* HOMESTRENGTH ---START-- */
.strength-item {
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.strength-item i {
    font-size: 40px;
    color: var(--black);
    transition: 0.3s;
}

.strength-item p {
    margin-top: 10px;
    font-weight: 500;
    color: #333;
}

/* hover effect */
.strength-item:hover i {
    transform: scale(1.2);
    color: var(--gold);
}

.strength-item:hover p {
    color: var(--gold);
}

/* HOMESTRENGTH ---END-- */

/* HOMEWESERVE ---START--- */


.desc {
    margin-bottom: 15px;
    line-height: 1.6;
}

.industries-section {
    background: var(--black);
    padding: 100px 20px;
    color: white;
}

.orbit-container {
    position: relative;
    height: 420px;
    margin: auto;
    border-radius: 50%;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.orbit-item {
    position: absolute;
    text-align: center;
    transition: 0.4s;
}

.orbit-item img {
    width: 70px;
    transition: 0.4s;
}

.orbit-item span {
    display: block;
    font-size: 14px;
    opacity: 1;
    transform: translateY(10px);
    transition: 0.3s;
    background: #000;
}

.item0 {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.item1 {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.item2 {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.item3 {
    left: 44px;
    top: 50%;
    transform: translateY(-50%);
}

.item4 {
    top: 50px;
    right: 40px;
}


@media screen and (max-width:576px) {

    .item0 {
        top: 2px;
        left: 26%;
        transform: translateX(-50%);
    }

    .item1 {
        right: -20px;
        top: 54%;
        transform: translateY(-50%);
    }

    .item2 {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .item3 {
        left: -20px;
        top: 44%;
        transform: translateY(-50%);
    }

    .item4 {
        top: 70px;
        right: 0px;
    }
}

/* HOMEWESERVE ---END--- */

/* HOMEPRODUCT ---START--- */
.featured-section {
    padding: 80px 0;
    background: #f9f9f9;
}

.homeproduct.two.twoh1 {
    text-align: center;
}

.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
    height: 100%;
    border: 2px solid var(--gold);
    /* box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06); */
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    filter: drop-shadow(5px 5px 12px var(--black));
}

.product-card h5 {
    font-weight: 600;
    margin-bottom: 8px;
}

.product-card p {
    color: #777;
    font-size: 14px;
    /* min-height: 40px; */
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12);
}

.title-line {
    text-align: center;
    /* font-size:  */
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.title-line::after {
    content: "";
    width: 60px;
    height: 4px;
    background: var(--gold);
    display: block;
    margin: 12px auto 0;
    border-radius: 10px;
}

/* HOMEPRODUCT ---END--- */

/* HOMEWHYUS ---START---*/
.performance-section {
    padding: 50px 0 50px;
    background-image: url(https://cdn.vectorstock.com/i/1000v/43/32/luxury-gold-wave-background-vector-61154332.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.perf-item {
    padding: 30px 10px;
    position: relative;
}

.perf-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background: #dcdfe3;
}

.perf-icon {
    font-size: 26px;
    margin-bottom: 10px;
    color: #0e1a26;
}

.perf-item span {
    font-weight: 600;
    color: #0e1a26;
}

.surface-section {
    padding: 40px 0 80px;
}

.surface-box {
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.surface-box:hover {
    transform: scale(1.03);
}

.surface-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.92);
    font-weight: 600;
    color: #0e1a26;
    border-top: 2px solid #ff6a00;
}

/* HOMEWHYUS ---END---*/

/* HOMECONTACT ---END---*/

.homecta {
    background-image: url(../Assets/Image/CTA.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 100px 1500px rgba(0, 0, 0, 0.7);

}

.cta-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.cta-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 22px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
    backdrop-filter: blur(10px);
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* HOMECONTACT ---END---*/

/* HOMECAROUSEL ---START */
.hero {
    height: 100vh;
    background: linear-gradient(120deg, #0b0b0b, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: white;
}

/* product images */
.product {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: opacity 1.2s ease-in-out,
        transform 1.2s ease-in-out,
        filter 1.2s ease-in-out;
    will-change: transform, opacity;
}

.fadeOut {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(10px);
}

.fadeIn {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
}

.next {
    opacity: 0;
}

.mist {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent 70%);
    opacity: 0;
}

.mist.spray {
    animation: spraySpread 1.2s ease-out forwards;
}

@keyframes spraySpread {
    0% {
        transform: scale(0.2);
        opacity: 0.8;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(8);
        opacity: 0;
    }
}

.highlight-text {
    font-size: 42px;
    font-weight: 700;
    color: var(--gold);
    position: relative;
    top: 65px;
    overflow: hidden;
    display: inline-block;
}

/* shine layer */
.highlight-text.shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -70%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.85),
            transparent);
    animation: shineSweep 0.9s ease forwards;
}

@keyframes shineSweep {
    to {
        left: 130%;
    }
}

@media screen and (max-width:768px) {
    .hero {
        height: 50vh;
    }
}

/* HOMECAROUSEL ---END */