:root {
    --black: #000;
    --white: white;
    --RoyalBlue: #1E3A8A;
    --LightGray: #F5F5F5;
    --DarkGray: #333333;
}


/* HEADER ---START--- */
.header-space {
    height: 95px;
}

.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0px 0;
    transition: all 0.35s ease;
    background: transparent;
    box-shadow: 1px 1px 0px gray;
}

.custom-header.scrolled {
    background: rgba(230, 230, 230, 0.75);
    backdrop-filter: blur(10px);
    padding: 0px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.logo img {
    height: 65px;
    transition: all 0.35s ease;
}

.custom-header.scrolled .logo img {
    height: 48px;
}

.menu-box {
    padding: 15px 21px;
    /* border-radius: 60px 0 0 60px; */

    background: white;
    -webkit-clip-path:
        polygon(6% 0, 100% 0, 96% 100%, 0% 100%);
    clip-path:
        polygon(6% 0, 100% 0, 96% 100%, 0% 100%);

    transition: 0.35s ease;
}

.custom-header.scrolled .menu-box {
    padding: 10px 25px;
    background: var(--black);

}

.nav-link {
    color: #000 !important;
    font-weight: 500;
    margin-left: 2px;
    position: relative;
    transition: 01s;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
}

.menu-toggle {
    font-size: 26px;
    border: none;
    background: transparent;
    color: #000;
}

.mobile-menu {
    list-style: none;
    padding: 0;
}

.mobile-menu li {
    margin-bottom: 18px;
}

.alink {
    text-decoration: none;
    color: black;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.custom-header.scrolled .alink {
    color: white !important;
}


/* ACTIVE TAB SHAPE */
.nav-link:hover {
    color: white !important;
    position: relative;
    z-index: 1;
    box-shadow: 14px 4px 2px var(--LightGray);
    color: var(--LightGray);
    background: var(--RoyalBlue);
}

.custom-header.scrolled .nav-link:hover {
    color: var(--black) !important;
    box-shadow: 14px 4px 0px var(--LightGray);
    color: var(--black);
    outline: 2px groove black;
    background: var(--LightGray);
}

.nav-link.active {
    position: relative;
    z-index: 1;
    box-shadow: 14px 4px 0px var(--LightGray);
    color: var(--LightGray) !important;
    background: var(--RoyalBlue);
}


.nav-link.active::before {
    content: "";
    position: absolute;
    inset: -8px -14px;
    z-index: -1;
    -webkit-clip-path: polygon(6% 0, 100% 0, 96% 100%, 0% 100%);
    clip-path: polygon(6% 0, 100% 0, 96% 100%, 0% 100%);
}

.custom-header.scrolled .nav-link.active::before {
    background: transparent;
}

.custom-header.scrolled .nav-link.active {
    color: var(--black) !important;
    box-shadow: 14px 4px 0px var(--white);
    color: var(--black);
    outline: 2px groove black;
    background: var(--LightGray);
}

@media (max-width: 992px) {
    .logo img {
        height: 55px;
    }

    .custom-header.scrolled .logo img {
        height: 55px;
    }

    .custom-header,
    .custom-header.scrolled {
        box-shadow: none;
        background: none;
    }
}

.offcanvas.offcanvas-end {
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1) !important;
}

@media (max-width: 768px) {

    .header-space {
        height: 80px;
    }

    .menu-box {
        padding: 8px 15px;
    }

    .nav-link {
        margin-left: 10px;
        font-size: 14px;
    }
}

/* HEADER ---END--- */