:root {
    --black: #000;
    --white: white;
    --RoyalBlue: #1E3A8A;
    --LightGray: #F5F5F5;
    --DarkGray: #333333;
    --gold: #cca834;
    --fontstyle--: "Raleway", sans-serif;
}

* {
    font-family: "Raleway", sans-serif;
}

.textcolor {
    color: var(--gold);
}

/* HEADER ---START--- */
.header-space {
    height: 95px;
}

.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0px 0;
    transition: all 0.35s ease;
    background: var(--gold);
}

.logo img {
    height: 65px;
    transition: all 0.35s ease;
}

.menu-box {
    padding: 15px 21px;
    /* border-radius: 60px 0 0 60px; */

    background: black;
    -webkit-clip-path:
        polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path:
        polygon(6% 0, 100% 0, 100% 100%, 0% 100%);

    transition: 0.35s ease;
}


.nav-link {
    color: white !important;
    font-weight: 500;
    margin-left: 2px;
    position: relative;
    transition: 0.5s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
}

.menu-toggle {
    font-size: 26px;
    border: none;
    background: transparent;
    color: #000;
}

.mobile-menu {
    list-style: none;
    padding: 0;
}

.mobile-menu li {
    margin-bottom: 18px;
}

.alink {
    text-decoration: none;
    color: black;
    font-size: 16px !important;
    font-weight: 500 !important;
}

/* ACTIVE TAB SHAPE */
.nav-link:hover {
    /* color: white !important; */
    position: relative;
    z-index: 1;
    box-shadow: 4px 4px 0px var(--LightGray);
    color: var(--black) !important;
    background: var(--gold);
}

.nav-link.active {
    position: relative;
    z-index: 1;
    box-shadow: 4px 4px 0px var(--LightGray);
    color: var(--black) !important;
    background: var(--gold);
}


.nav-link.active::before {
    content: "";
    position: absolute;
    inset: -8px -14px;
    z-index: -1;
    -webkit-clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 992px) {
    .logo img {
        height: 55px;
    }
}

.offcanvas.offcanvas-end {
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1) !important;
}

@media (max-width: 768px) {

    .header-space {
        height: 80px;
    }

    .menu-box {
        padding: 8px 15px;
    }

    .nav-link {
        margin-left: 10px;
        font-size: 14px;
    }
}

/* HEADER ---END--- */



/* FOOTER ---START--- */
.footer_bg {
    background-color: var(--black);
    /* -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

.footericon {
    border: 1.5px solid gray;
    transition: all 0.3s ease-in-out;
    border-radius: 10px 0px 12px 0px;
    font-size: 19px;
}

.footericon:hover {
    border-radius: 50%;
    border: 1.5px solid white;
}

.facebookicon:hover {
    background-color: #1877f2 !important;
}

.instaicon:hover {
    background-image: linear-gradient(180deg,
            #833ab4,
            #c13584,
            #e1306c,
            #f77737,
            #ffdc80);
}

.linkicon:hover {
    background-color: #0077b5 !important;
}

.twittericon:hover {
    background-color: #1da1f2 !important;
}

.youtubeicon:hover {
    background-color: #ff0000 !important;
}

.pintresticon:hover {
    background-color: #c8232c !important;
}

.linktext_hover {
    color: var(--LightGray) !important;
    transition: all 0.1s ease-in-out;
}

.linktext_hover:hover {
    color: var(--white) !important;
}

.pera {
    font-size: 14px;
}

.jr_tittle {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--fontstyle--);
    /* text-transform: capitalize !important; */
}

/* FOOTER ---END--- */


/* BTN ---START--- */
/* button hover */
.elementor-button {
    position: relative;
    overflow: hidden;
    background: var(--black);
    transition: 0.3s ease-in-out;
    display: inline-block;
    height: 100%;
}

.elementor-button::after {
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    content: "";
    width: calc(50% + 30px);
    height: 100%;
    background: var(--gold);
    transform: skewX(20deg);
    transition: all 0.3s ease-in-out;
}

.elementor-button:hover::after {
    left: 0;
    width: 100%;
    transform: skewX(0deg);
}

.elementor-button-text {
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    position: relative;
    z-index: 1;
}

/* Explore btn footer start */
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #000;
}

.button:hover .button__icon-wrapper {
    color: #000;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

/* Explore btn footer end */